#Company {
	Website: 'http://activebc.ru';
	Size: '1500 ppl';
	Name: 'ActiveBC';
	Motto: 'Пишите код так, как будто поддерживать его будет склонный к насилию психопат, который знает, где вы живёте. Джон Ф. Вудс'
	Description: 'Компания «АБК» является одним из лидеров в области речевых технологий, автоматизации деятельности коллцентров и взаимодействия с клиентами.'
	'Компания разрабатывает и поддерживает различные проекты и торговые площадки в финансовом секторе.';
}

/* Мы Ищем: */

#Hard-Skills {
	@import JS, vue.js, CSS, HTML;
	@import bootstrap;
}

#Soft-Skills {
	@import head/brain, perfectionism, reliability, humor;
	@import experience; /* >= 3 years */
}

/* Всему остальному научим, нужно только желание! */

#We-Offer {
	.us {
		Money: 'Конкурентная', 'White';
		Company: 'Solid', 'Big', 'Stable';
		Future: 'Career-рост', 'Personal-рост';
		Bonuses: 'ДМС', 'Годовые-bonuses';
	}
	.team {
		End-to-end: 'front', 'back', 'designers', 'managers', 'testers', 'DevOps';
		Properties: 'friendly', 'cool', 'fast';
	}
	.work {
		Format: 'Гибкий-time', 'Work-from-home';
		Agile: 'sprint-2-weeks', 'planning; development', 'Gitlab + CI/CD', 'code-review';
		Sprint: 'Planning', 'Development', 'Demo', 'Sprint-review';
		Git: 'Gitlab + CI/CD';
	}
	.projects {
		Existing: 'Marketplace', 'Website', 'App';
		New: 'Coming-soon';
	}
}



#ContactInfo {

	if (hard-skills && soft-skills && interested && ready) {

		contact.e-mail = 'hr@activebc.ru'
		contact.number = '8.800.555.35.35'
		contact.whatsapp = '8.800.555.35.35'
		contact.telegram = '@123'
	}

	else {

		'Have a nice day!'
	}

}
